<template>
    <div>
        <div class=" content">
            <!-- CITY  MOBILE -->
            <section class="d-block d-sm-none city-item" ref="citymob" style="position:relative;" v-if="showCity">
                <img class=" city-image" :src="cityUrl">
                <dot v-on:city-filter="cityFilter" :name="'Логистика'" :orientation="0" :className="'city-dot-1'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Транспорт'" :orientation="0" :className="'city-dot-2'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Строительство'" :orientation="0" :className="'city-dot-3'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Риск-менеджмент'" :orientation="0" :className="'city-dot-4'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Банки'" :orientation="0" :className="'city-dot-5'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Медицина'" :orientation="0" :className="'city-dot-6'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Туризм'" :orientation="0" :className="'city-dot-7'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Торговля'" :orientation="0" :className="'city-dot-8'" :city-dot-url="cityDotUrl"></dot>
                <dot v-on:city-filter="cityFilter" :name="'Рестораны'" :orientation="0" :className="'city-dot-9'" :city-dot-url="cityDotUrl"></dot>
                <div class="city-gif-container"  v-if="showGif" v-on:click="showGif = false" >
                    <div class="city-gif" ref="mobileGif"></div>
                </div>


            </section>

            <div class="container">


                <!-- BANNER  -->
                <banners
                    v-on:banner-loaded="bannerLoading = false"
                    v-bind:icons-heart-white-url='iconsHeartWhiteUrl'
                    v-bind:icons-view-white-url='iconsViewWhiteUrl'
                    v-bind:icons-comment-white-url='iconsCommentWhiteUrl'
                    v-bind:icons-link-url='iconsLinkUrl'
                    v-bind:show-city="showCity"
                ></banners>

                <!-- CITY  -->
                <section class="row d-none d-sm-block" v-if="showCity">
                    <div class="col-12">
                        <div class="city-item" style="position:relative;">
                            <img class=" city-image" :src="cityUrl">
                            <dot v-on:city-filter="cityFilter" :name="'Логистика'" :orientation="'left'" :className="'city-dot-1'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт'" :orientation="'left'" :className="'city-dot-2'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Строительство'" :orientation="'right'" :className="'city-dot-3'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Риск-менеджмент'" :orientation="'left'" :className="'city-dot-4'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Банки'" :orientation="'right'" :className="'city-dot-5'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Медицина'" :orientation="'right'" :className="'city-dot-6'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Туризм'" :orientation="'right'" :className="'city-dot-7'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Торговля'" :orientation="'left'" :className="'city-dot-8'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Рестораны'" :orientation="'left'" :className="'city-dot-9'" :city-dot-url="cityDotUrl"></dot>
                        </div>
                    </div>
                </section>



                <!-- FILTER BTN  -->
                <section class="row d-md-none d-lg-none d-xl-none mb-4">
                    <div class="col-12 d-flex align-items-start">
                        <div class="filter-button" v-on:click="openFilter">
                            <img :src="iconsFilterUrl">
                        </div>
                        <div class="d-flex align-items-center flex-wrap ml-3">
                            <div class="filter-collapse-category">{{filterCollapsedCategory}}</div>
                            <div
                                class="filter-collapse-industry"
                                v-for="(industry,index) in filterCollapsedIndustries"
                                :key="index"
                            >
                            #{{industry.name}}</div>

                        </div>

                    </div>
                </section>

                <!-- CONTENT  -->
                <section class="row" ref="content">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-md-block">
                            <left-filter
                                v-bind:categories='categories'
                                v-bind:industries='industries'
                                v-bind:hasChildren='hasChildren'
                                v-bind:filterquery-param-filter.sync='filterqueryParamFilter'
                                v-bind:freshCounter='freshCounter'
                                v-on:setactive='setActive'

                                v-bind:icons-articles-url='iconsArticlesUrl'
                                v-bind:icons-star-url='iconsStarUrl'
                                v-bind:icons-new-url='iconsNewUrl'
                                v-bind:icons-news-url='iconsNewsUrl'
                                v-bind:icons-lamp-url='iconsLampUrl'
                            ></left-filter>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-8  col-12">
                            <div v-if="nothingFound" class="nothing-found">Пока здесь нет материалов, но он скоро появится. Подпишитесь, чтобы не пропустить!</div>
                            <masonry
                                :cols="{default: 2, 600: 1}"
                                :gutter="30"
                            >
                                  <div
                                    class="card"
                                    v-for="(post, index) in posts"
                                    :key="`${index}-${post.id}`"
                                  >




                                      <a class="article-item"
                                          v-bind:href="setLink(post)"
                                          v-if="post.features === null || post.features === '0' "
                                      >
                                          <div class="article-item-container">
                                              <div class="article-item-video" v-if="post.hasVideo"></div>
                                              <!-- <img class="article-item-image" v-bind:src="post.image"> -->
                                              <div class="article-item-image" v-bind:style="post.imagecss"></div>
                                          </div>

                                          <div class="article-item-header" >{{post.title}}</div>
                                          <div class="article-item-tags" >
                                              <a
                                                  v-for="(tag,index) in post.tags"
                                                  :key="index"
                                                  :href="setTagLink(tag)"
                                              >
                                                  #{{tag.name}}
                                              </a>
                                          </div>
                                          <div class="article-item-info">
                                              <div class="banner-info-item">{{post.published_at}}</div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="15px" height="15px" v-bind:src="iconsHeartUrl">
                                                    <div>{{post.likes}}</div>
                                              </div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="20px"  height="20px" v-bind:src="iconsViewUrl">
                                                    <div>{{post.views}}</div>
                                              </div>
                                              <div class="banner-info-item" v-show="post.author_id">
                                                    <img class="banner-info-icon" width="16px"  height="16px" v-bind:src="iconsCommentUrl">
                                                    <div>{{post.comments_count}}</div>
                                              </div>
                                          </div>
                                      </a>


                                      <a class="article-item d-flex justify-content-end"
                                          v-bind:href="setLink(post)"
                                          v-if="post.features === '1'"
                                      >

                                          <div class="article-item-image-big" v-bind:style="post.imagecss"></div>

                                          <div class="article-item-header-big text-white" >{{post.title}}</div>
                                          <div class="article-item-tags" >
                                              <a
                                                  v-for="(tag,index) in post.tags"
                                                  :key="index"
                                                  :href="setTagLink(tag)"
                                                  class="text-white"
                                              >
                                                  #{{tag.name}}
                                              </a>
                                          </div>
                                          <div class="article-item-info text-white">
                                              <div class="banner-info-item">{{post.published_at}}</div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="15px" height="15px" v-bind:src="iconsHeartUrl">
                                                    <div>{{post.likes}}</div>
                                              </div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="20px"  height="20px" v-bind:src="iconsViewUrl">
                                                    <div>{{post.views}}</div>
                                              </div>
                                              <div class="banner-info-item" v-show="post.author_id">
                                                    <img class="banner-info-icon" width="16px"  height="16px" v-bind:src="iconsCommentUrl">
                                                    <div>{{post.comments_count}}</div>
                                              </div>
                                          </div>
                                      </a>


                                      <a class="article-item d-flex justify-content-end"
                                          v-bind:href="setLink(post)"
                                          v-if="post.features === '2'"
                                      >


                                          <div class="article-item-header-big " >{{post.title}}</div>
                                          <div class="article-item-tags" >
                                              <a
                                                  v-for="(tag,index) in post.tags"
                                                  :key="index"
                                                  :href="setTagLink(tag)"
                                              >
                                                  #{{tag.name}}
                                              </a>
                                          </div>
                                          <div class="article-item-info">
                                              <div class="banner-info-item">{{post.published_at}}</div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="15px" height="15px" v-bind:src="iconsHeartUrl">
                                                    <div>{{post.likes}}</div>
                                              </div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="20px"  height="20px" v-bind:src="iconsViewUrl">
                                                    <div>{{post.views}}</div>
                                              </div>
                                              <div class="banner-info-item" v-show="post.author_id">
                                                    <img class="banner-info-icon" width="16px"  height="16px" v-bind:src="iconsCommentUrl">
                                                    <div>{{post.comments_count}}</div>
                                              </div>
                                          </div>
                                      </a>




                                      <a class="article-item d-flex justify-content-end"
                                          v-bind:href="setLink(post)"
                                          v-if="post.features === '3'"
                                      >
                                            <div class="article-item-icon-container"  v-if="post.features_icon">
                                                <div
                                                    class="article-item-icon-container-icon"
                                                    v-bind:style="post.features_iconcss"

                                                ></div>
                                            </div>

                                          <div class="article-item-header-big " >{{post.title}}</div>
                                          <div class="article-item-tags" >
                                              <a
                                                  v-for="(tag,index) in post.tags"
                                                  :key="index"
                                                  :href="setTagLink(tag)"
                                              >
                                                  #{{tag.name}}
                                              </a>
                                          </div>
                                          <div class="article-item-info">
                                              <div class="banner-info-item">{{post.published_at}}</div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="15px" height="15px" v-bind:src="iconsHeartUrl">
                                                    <div>{{post.likes}}</div>
                                              </div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="20px"  height="20px" v-bind:src="iconsViewUrl">
                                                    <div>{{post.views}}</div>
                                              </div>
                                              <div class="banner-info-item" v-show="post.author_id">
                                                    <img class="banner-info-icon" width="16px"  height="16px" v-bind:src="iconsCommentUrl">
                                                    <div>{{post.comments_count}}</div>
                                              </div>
                                          </div>
                                      </a>


                                      <a class="article-item d-flex justify-content-end"
                                          v-bind:href="setLink(post)"
                                          v-if="post.features === '4'"
                                      >
                                            <div class="article-item-icon-container"  v-if="post.features_icon">
                                                <div
                                                    class="article-item-icon-container-icon"
                                                    v-bind:style="post.features_iconcss"

                                                ></div>
                                                <div class="article-item-icon-container-info">
                                                    <span>Автор</span>
                                                    <span class="article-item-icon-container-info-author">{{post.author_id.name}}</span>
                                                </div>
                                            </div>

                                          <div class="article-item-header-big " >{{post.title}}</div>
                                          <div class="article-item-tags" >
                                              <a
                                                  v-for="(tag,index) in post.tags"
                                                  :key="index"
                                                  :href="setTagLink(tag)"
                                              >
                                                  #{{tag.name}}
                                              </a>
                                          </div>
                                          <div class="article-item-info">
                                              <div class="banner-info-item">{{post.published_at}}</div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="15px" height="15px" v-bind:src="iconsHeartUrl">
                                                    <div>{{post.likes}}</div>
                                              </div>
                                              <div class="banner-info-item" >
                                                    <img class="banner-info-icon" width="20px"  height="20px" v-bind:src="iconsViewUrl">
                                                    <div>{{post.views}}</div>
                                              </div>
                                              <div class="banner-info-item" v-show="post.author_id">
                                                    <img class="banner-info-icon" width="16px"  height="16px" v-bind:src="iconsCommentUrl">
                                                    <div>{{post.comments_count}}</div>
                                              </div>
                                          </div>
                                      </a>




                                  </div>
                            </masonry>
                            <div class="loader-local" ref="loaderTrigger" v-show="!postLoadedAll">
                                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                            </div>
                        </div>

                </section>


            </div>
        </div>

        <!-- FILTER OPEN  -->
        <transition  name="fade">
            <section class="d-md-none d-lg-none d-xl-none filter-menu"  v-if="showFilter">
                <div class="filter-menu-bg"  v-on:click="closeFilter"></div>
                <div class="filter-menu-container">
                    <div class="filter-menu-button" v-on:click="closeFilter">
                        <img v-bind:src="iconsCloseUrl">
                    </div>
                    <left-filter
                        v-bind:categories='categories'
                        v-bind:industries='industries'
                        v-bind:hasChildren='hasChildren'
                        v-bind:filterquery-param-filter.sync='filterqueryParamFilter'
                        v-bind:freshCounter='freshCounter'
                        v-on:setactive='setActive'

                        v-bind:icons-articles-url='iconsArticlesUrl'
                        v-bind:icons-star-url='iconsStarUrl'
                        v-bind:icons-new-url='iconsNewUrl'
                        v-bind:icons-news-url='iconsNewsUrl'
                        v-bind:icons-lamp-url='iconsLampUrl'
                    ></left-filter>
                </div>
            </section>
        </transition>

    </div>
</template>

<script>


    import mixin_1 from "./mixins/mixin_1"
    import VueMasonry from 'vue-masonry-css'
    Vue.use(VueMasonry);

    export default {
          mixins: [mixin_1],
          props: [
              'iconsFilterUrl',
              'iconsHeartUrl',
              'iconsViewUrl',
              'iconsCommentUrl',
              'iconsCloseUrl',

              'iconsHeartWhiteUrl',
              'iconsViewWhiteUrl',
              'iconsCommentWhiteUrl',
              'iconsLinkUrl',

              'iconsNewUrl',
              'iconsStarUrl',
              'iconsArticlesUrl',
              'iconsNewsUrl',
              'iconsLampUrl',

              'cityUrl',
              'showCity',
              'cityDotUrl',

          ],
          data: function () {
              return {
                  baseLoading: true,
                  bannerLoading: true,
                  postLoading: true,
                  postLoadedAll: false,
                  nothingFound: false,
                  showFilter: false,
                  categories: [],
                  industries: [],
                  posts: [],
                  filterqueryParamCategory:0,
                  filterqueryParamFilter:[0,],

                  showGif: true,

                  paginationData: {
                      start: 0,
                      quantity: 10,
                  },
                  industryBase: '',
                  url:{
                      categories: "/api/categories",
                      industries: "/api/industries",
                      posts: "/api/posts",
                      fresh: "/api/fresh"
                  },
                  freshCounter: 0,
                  masonryOptions: {
                      width: 300,
                      padding: 12
                  }
              }
          },
          created: function(){
              this.getAll();
          },
          mounted: function(){
              this.onScroll();
              this.scrollTop();
          },
          computed: {
              pageLoading: function(){
                  if(!this.bannerLoading && !this.baseLoading){
                      this.$emit('pageloaded');
                      return false
                  } else{
                      return true
                  }
              },
              filterCollapsedCategory(){
                  for (const cat of this.categories){
                      if(cat.children.length !== 0){
                          for (const child of cat.children){

                              if (this.filterqueryParamCategory === child.id){
                                  return child.name
                              }
                          }
                      } else{
                          if (this.filterqueryParamCategory === cat.parent.id){
                              return cat.parent.name
                          }
                      }
                  }
              },
              filterCollapsedIndustries(){
                  var  list = []
                  for (const ind of this.industries){
                     for (const param of this.filterqueryParamFilter){
                         if (ind.id === param){
                             list.push(ind)
                         }
                     }
                  }
                  return list
              },
          },
          methods:{
              openFilter(){
                   this.showFilter= true
                   this.$emit('open-filter')
              },
              closeFilter(){
                   this.showFilter= false
                   this.$emit('close-filter')

              },
              scrollTop: function(){
                  var marginTop
                  if(this.showCity){
                      marginTop = this.getElemDistance(this.$refs.content) - 200
                      console.log('getElemDistance', this.getElemDistance(this.$refs.content))
                  } else{
                      marginTop = 0
                  }
                  window.scrollTo(0, marginTop);
              },
              getElemDistance(elem){
                  var location = 0;
                   if (elem.offsetParent) {
                       do {
                           location += elem.offsetTop;
                           elem = elem.offsetParent;
                       } while (elem);
                   }
                   return location >= 0 ? location : 0;
              },
              grabUrl: function(param){
                  var url_string = window.location.href;
                  var url = new URL(url_string);
                  var parametr = url.searchParams.get(param);
                  return parametr
              },
              emptyUrl:function(){
                  history.pushState(null, '', '/');
              },
              setActive: function(id){
                  var isChildren = false
                  for (const item of this.categories){
                      for (const el of item.children){
                          if (id === el.id){
                              item.parent.isActive = false
                              item.parent.isSelected = true
                              item.isDropdownexpanded = true
                              el.isActive = true
                              this.filterqueryParamCategory = id
                              isChildren = true
                          }
                          else {
                              el.isActive = false
                          }
                      }
                  }
                  if (isChildren){
                      for (const cat of this.categories){
                          if (cat.parent.id === 0){
                              cat.parent.isActive = false
                          }
                      }
                      return null
                  }


                  for (const item of this.categories){
                      item.parent.isSelected = false
                      if (item.children.length !== 0){
                          if (id === item.parent.id){
                              item.isDropdownexpanded = true
                          }
                          else{
                              item.isDropdownexpanded = false
                          }
                      }
                  }



                  for (const item of this.categories){
                      if (id === item.parent.id){
                          item.parent.isActive = true
                          this.filterqueryParamCategory = id
                      }
                      else {
                          item.parent.isActive = false
                      }
                  }

              },

              hasChildren: function(item){
                  if(item.children.length !== 0){
                      return true
                  }
                  return false
              },
              categoryFormater: function(list){
                  var first = [
                      {
                          'parent':{
                              'id': 0,
                              'name': 'Свежее',
                              'isActive': true
                          },
                          'children':[]
                      }
                  ]



                  for (const item of list){
                      item.isActive = false
                      if (item.parent_id === null){
                          first.push(
                              {
                                  "isDropdownexpanded":false,
                                  "parent":item
                              }
                          )
                      }
                  }

                  for (const el of first){
                      el.children = []
                      for (const item of list){
                          if (item.parent_id === el.parent.id){
                              el.children.push(item)
                          }
                      }
                  }

                  return first
              },
              industryFormater: function(list){
                  var first ={
                      'id': 0,
                      'name':'Все'
                  }
                  list.unshift(first)
                  return list
              },
              getAll: function () {
                  this.baseLoading = true;

                  var requestCategories = axios.get(this.url.categories);
                  var requestIndustries = axios.get(this.url.industries);
                  var requestFresh = axios.get(this.url.fresh);

                  axios.all([requestCategories, requestIndustries,requestFresh ]).then(axios.spread((...responses) => {
                    var responseCategories = responses[0]
                    var responseIndustries = responses[1]
                    var responseFresh = responses[2]
                    this.categories = this.categoryFormater(responseCategories.data);
                    if (this.grabUrl("category") ){
                        this.setActive(parseInt(this.grabUrl("category")));
                        this.emptyUrl()
                    } else if (this.grabUrl("industry") ){
                        var array = []
                        array.push(parseInt(this.grabUrl("industry")))
                        this.filterqueryParamFilter = array
                        this.emptyUrl()
                    } else if (this.grabUrl("city") ){
                        this.$emit('update:show-city', true)
                        this.emptyUrl()
                        this.setActive(this.filterqueryParamCategory);
                        this.getPosts();
                    }
                    else{
                        this.setActive(this.filterqueryParamCategory);
                        this.getPosts();
                    }
                    this.industries = this.industryFormater(responseIndustries.data);
                    this.freshCounter  = responseFresh.data
                    this.baseLoading = false;
                 })).catch(errors => {
                   // react on errors.
                 })
              },
              getPosts:  function(){
                  // console.log('getPosts')
                  this.nothingFound = false
                  axios({
                      method: 'get',
                      params: {
                                  category: this.filterqueryParamCategory,
                                  filter: this.filterqueryParamFilter,
                                  start: this.paginationData.start,
                                  quantity: this.paginationData.quantity,
                              },
                      url: this.url.posts,
                  })
                  .then(response => {
                      this.posts = this.posts.concat(this.postFormater(response.data.posts))
                      this.postLoading = false

                      if (response.data.posts.length === 0){
                          this.nothingFound = true
                      }

                      if (response.data.posts.length < this.paginationData.quantity){
                          this.postLoadedAll = true
                      }
                  })
              },
              onScroll:function(){
                  window.onscroll = () => {
                      let bottomOfWindow = this.isElementVisible(this.$refs['loaderTrigger']);
                      if (bottomOfWindow && !this.postLoadedAll && !this.postLoading) {
                          this.postLoading = true
                          this.paginationData.start = this.paginationData.start + this.paginationData.quantity
                          this.getPosts()
                      }
                  }
              },
              beforeLoad: function(){
                  this.scrollTop()
                  this.paginationData.start = 0
                  this.posts = []
                  this.postLoading = true
                  this.postLoadedAll = false
              },
              cityFilter:function(e){

                  if(e === 'city-dot-1'){
                      this.filterqueryParamFilter = [3,]
                  }

                  if(e === 'city-dot-2'){
                      this.filterqueryParamFilter = [1,]
                  }

                  if(e === 'city-dot-3'){
                      this.filterqueryParamFilter = [2,]
                  }

                  if(e === 'city-dot-4'){
                      this.filterqueryParamFilter = [4,]
                  }

                  if(e === 'city-dot-5'){
                      this.filterqueryParamFilter = [5,]
                  }

                  if(e === 'city-dot-6'){
                      this.filterqueryParamFilter = [6,]
                  }

                  if(e === 'city-dot-7'){
                      this.filterqueryParamFilter = [7,]
                  }

                  if(e === 'city-dot-8'){
                      this.filterqueryParamFilter = [8,]
                  }

                  if(e === 'city-dot-9'){
                      this.filterqueryParamFilter = [9,]
                  }


              },

          },
          watch:{
              showCity(newValue){
                  if(newValue){
                      this.showGif = true
                      setTimeout(() => this.showGif = false, 7000);

                      this.$nextTick(() => {
                         lottie.loadAnimation({
                           container: this.$refs.mobileGif,
                           renderer: 'svg',
                           loop: true,
                           autoplay: true,
                           path: 'js/lottie/mobilegif.json'
                         });

                      });


                      this.$nextTick(() => {
                          var el = this.$refs.citymob
                          el.scrollLeft = 500

                      });
                  }
              },
              pageLoading:function(newValue, oldValue){
                  var Check = newValue
              },
              filterqueryParamCategory:{
                 deep: true,
                 handler: _.debounce(function (newValue, oldValue) {

                        this.beforeLoad()
                         this.getPosts()
                         // console.log('filterqueryParam launch')

                }, 400),
              },
              filterqueryParamFilter:{
                 deep: true,
                 handler: _.debounce(function (newValue, oldValue) {
                     if (newValue !==oldValue){
                          if(newValue.includes(0) && !oldValue.includes(0)){
                              newValue.splice(0)
                              newValue.push(0)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()
                          }

                          else if(newValue.length === (this.industries.length -1) && !newValue.includes(0)){
                              newValue.splice(0)
                              newValue.push(0)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()
                          }

                          else if(newValue.length > 1 && oldValue.includes(0)){
                              newValue.splice(0,1)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()

                          }

                          else if(newValue.length === 0){
                              newValue.splice(0)
                              newValue.push(0)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()
                          } else{
                              this.beforeLoad()
                              this.getPosts()
                          }
                  }

                }, 100),
              },

          },
      }
</script>
