<template>
    <div  class="content content-article">
        <slot
            v-bind:iseditable="iseditable"
            v-bind:post-item="postItem"
            v-bind:user="user"
            v-bind:post="post"
            v-bind:test="test"


            v-bind:btn-back-category-url="btnBackCategoryUrl"
            v-bind:btn-back-industry-url="btnBackIndustryUrl"
            v-bind:icons-back-url="iconsBackUrl"
            v-bind:icons-heart-url="iconsHeartUrl"
            v-bind:icons-heart-clicked-url="iconsHeartClickedUrl"
            v-bind:icons-view-url="iconsViewUrl"
            v-bind:icons-comment-url="iconsCommentUrl"
            v-bind:icons-avatar-url="iconsAvatarUrl"
            v-bind:author-url="authorUrl"
            v-bind:page-datasorted="pageDatasorted"
            v-bind:isauth="isauth"
            v-bind:append-comment="appendComment"
            v-bind:block-change="blockChange"
            v-bind:blockmove-up="blockmoveUp"
            v-bind:blockmove-down="blockmoveDown"
            v-bind:block-add="blockAdd"
            v-bind:block-delete="blockDelete"

            v-bind:on-open-auth="onOpenAuth"




        >

        </slot>
    </div>
</template>

<script>
    export default {
           props: [
               'post',
               'iseditable',
               'isauth',
               'user',
               'btnBackCategoryUrl',
               'btnBackIndustryUrl',
               'iconsBackUrl',
               'iconsHeartUrl',
               'iconsHeartClickedUrl',
               'iconsViewUrl',
               'iconsCommentUrl',
               'iconsAvatarUrl',
               'authorUrl',
           ],
           data: function () {
               return {
                   url:{
                       views: "/api/views",
                   },
                   postItem:'',
                   postPageData:'',
                   test:'yes its a test',
               }
           },
           beforeMount: function() {
               this.postItem = this.post
               this.postPageData = JSON.parse(this.post.body)
           },
           mounted: function(){
               this.postItem.published_at = moment(this.postItem.published_at  + ' Z').locale('ru').format("D MMM");

               if(!this.iseditable){
                   axios({
                       method: 'post',
                       url: this.url.views,
                       data: {
                           id: this.post.id,
                           type: 'post',

                       },
                   })
                   .then(response => {
                       this.postItem.views = response.data.total
                       this.$emit('pageloaded');
                   })
                   .catch(response => {
                       console.log('error!');
                   })
               }



           },
           computed: {
               pageDatasorted:  function(){
                   var list = this.postPageData.slice()
                   list.sort(function (a, b) {
                     if (a.order > b.order) {
                       return 1;
                     }
                     if (a.order < b.order) {
                       return -1;
                     }
                     return 0;
                   });
                   return list
               },
           },
           methods:{
               blockmoveUp: function(instance){
                   for (const item of this.postPageData){
                       if(item.order === instance.order){
                            var currentElem = item
                       }
                       if(item.order === (instance.order-1)){
                            var upperElem = item
                       }
                   }
                   for (const item of this.postPageData){
                       if(item === currentElem){
                            item.order -=1
                       }
                       if(item === upperElem){
                            item.order +=1
                       }
                   }
               },
               blockmoveDown:function(instance){
                   for (const item of this.postPageData){
                       if(item.order === instance.order){
                            var currentElem = item
                       }
                       if(item.order === (instance.order+1)){
                            var upperElem = item
                       }
                   }
                   for (const item of this.postPageData){
                       if(item === currentElem){
                            item.order +=1
                       }
                       if(item === upperElem){
                            item.order -=1
                       }
                   }
               },
               blockAdd:function(instance){
                   function getMaxOfArray(numArray) {
                     return Math.max.apply(null, numArray);
                   }
                   var idList = []
                   for (const item of this.postPageData){
                       idList.push(item.id)
                   }

                   var newItemOrder = instance.order + 1
                   var maxOrder = this.postPageData.length
                   var i=1
                   while ((maxOrder-i) >= newItemOrder){
                       for (const item of this.postPageData){
                           if((maxOrder-i) === item.order){
                               item.order +=1
                           }
                       }
                       i +=1
                   }
                   this.postPageData.push(
                       {
                           id: (getMaxOfArray(idList) + 1),
                           order: (instance.order + 1),
                           typeId: 0,
                           content: {
                               text:"Новый Пустой блок"
                           }
                       },
                   )
               },
               blockDelete:function(instance){
                   var deletedItemOrder = instance.order
                   var maxOrder = this.postPageData.length
                   var i=1
                   while ((maxOrder) > (deletedItemOrder+i)){
                       for (const item of this.postPageData){
                           if((deletedItemOrder+i) === item.order){
                               item.order -=1
                           }
                       }
                       i +=1
                   }

                   var i=0
                   for (const item of this.postPageData){
                       if(instance.id === item.id){
                           this.postPageData.splice(i, 1);
                       }
                       i+=1
                   }
               },
               blockChange:function(e){
                   console.log('e', e)
                   var i=0
                   for (const item of this.postPageData){
                       if(e.id === item.id){
                           this.postPageData.splice(i, 1, e);
                       }
                       i+=1
                   }
               },
               appendComment:function(e){
                   this.postItem.comments_count  =  this.postItem.comments_count  +  1
               },
               onOpenAuth(){
                   this.$emit('openauth');
               },
           },
           watch:{
               postPageData:{
                  deep: true,
                  handler: function (newValue, oldValue) {
                      this.$emit('postpagechange', JSON.stringify(newValue));
                  },
              },
          },

       }
</script>
