<template>
    <div class=" content content-article">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column align-items-center">
                    <div class="content-container">
                        <a v-bind:href="btnBackCategoryUrl"  class="back" >
                            <img class="mr-3" width="48px" v-bind:src="iconsBackUrl">
                            <span>ВЕСЬ ИНТЕРАКТИВ</span>
                        </a>
                        <h1 class="header-post">{{quizzItem.title}} </h1>
                        <div class="article-tags" >
                            <a v-bind:href="btnBackCategoryUrl">#Интерактив</a>
                            <a v-bind:href="btnBackIndustryUrl">#{{quizzItem.industry.name}}</a>
                        </div>
                        <div class="article-info">
                            <div class="banner-info-item">{{quizzItem.published_at}}</div>
                            <div class="banner-info-item" >
                                <like
                                      v-bind:item='quizzItem'
                                      v-bind:type="'quizz'"
                                      v-bind:icons-heart-url="iconsHeartUrl"
                                      v-bind:icons-heart-clicked-url="iconsHeartClickedUrl">

                                  </like>
                                  <div>{{quizzItem.likes}}</div>
                            </div>
                            <div class="banner-info-item" >
                                  <img class="banner-info-icon" width="20px" v-bind:src="iconsViewUrl">
                                  <div>{{quizzItem.views}}</div>
                            </div>
                            <!-- <div class="banner-info-item" >
                                  <img class="banner-info-icon" width="16px" src={{ asset('icons/comment_icon.svg') }}>
                                  <div>14</div>
                            </div> -->
                        </div>

                        <img class="article" v-bind:src="mainimageUrl"  v-show="!showResults" >

                        <div class="mb-5 mt-5" v-show="!showResults">
                            <div class="question" >
                                <div class="question-number">
                                    <span>{{this.index +  1}}</span>
                                    <span>/</span>
                                    <span>{{this.quizzItem.questions.length}}</span>
                                </div>

                                <div class="question-name">{{this.quizzItem.questions[this.index].name}}</div>

                            </div>
                            <div class="answers">
                                <div
                                    v-for="answer in this.quizzItem.questions[this.index].answers"
                                    :key="answer.id"
                                    v-on:click="checkAnswer(answer)"
                                    v-bind:class="classAnswer(answer)"
                                >{{answer.name}}</div>
                            </div>
                            <div class="d-flex flex-column align-items-center" >
                                <button type="button" :disabled="isDisabled" v-on:click="nextQuestion" class="btn btn-lg btn-danger quizz-next-btn">Дальше</button>
                            </div>
                        </div>

                        <div class="mb-5 mt-5" v-show="showResults">
                            <div class="quizz-results-header">
                                {{countResult()}} / {{this.quizzItem.questions.length}}
                            </div>
                            <div class="quizz-results-txt">
                                Поздравляем! Вы прошли тест.
                            </div>
                            <share v-bind:item='quizzItem'></share>
                            <a v-on:click="reload"  class="reload" v-show="showResults" >
                                <img class="mr-1" width="48px" v-bind:src="iconsReloadUrl">
                                <span>Пройти тест еще раз</span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
         props: [
             'quizz',
             'btnBackCategoryUrl',
             'btnBackIndustryUrl',
             'iconsBackUrl',
             'iconsReloadUrl',
             'iconsHeartUrl',
             'iconsHeartClickedUrl',
             'iconsViewUrl',
             'mainimageUrl',
         ],
         data: function () {
             return {
                 quizzItem: null,
                 index: 0,
                 currentAnswer: null,
                 result:[],
                 isDisabled: true,
                 showResults: false,
                 url:{
                     views: "/api/views",
                 },
             }
         },
         created: function(){
             this.quizzItem = this.quizz
             this.quizzItem.published_at = moment(this.quizz.published_at  + ' Z').locale('ru').format("D MMM");
         },
         mounted: function(){
                 axios({
                     method: 'post',
                     url: this.url.views,
                     data: {
                         id: this.quizzItem.id,
                         type: 'quizz',
                     },
                 })
                 .then(response => {
                     this.quizzItem.views = response.data.total
                     this.$emit('pageloaded');
                 })
                 .catch(response => {
                     console.log('error!');
                 })

         },
         computed: {
             currentQuestion:function(){
                 return this.quizzItem.questions[this.index]
             },

         },
         methods:{
             reload:function(){
                 location.reload();
             },
             checkAnswer:function(answer){
                 for (const item of this.result){
                     if (item.questionId === this.currentQuestion.id)  {
                         return null
                     }
                 }

                 this.result.push({
                     questionId: this.currentQuestion.id,
                     answerId: answer.id,
                     result: answer.isAnswer,
                 })

                 this.currentAnswer = {
                     id: answer.id,
                     result: answer.isAnswer
                 }

                 this.isDisabled = false
             },
             classAnswer:function(answer){
                 if (this.currentAnswer !== null){
                     if( answer.id === this.currentAnswer.id){
                         return {
                             correct: this.currentAnswer.result,
                             error: !this.currentAnswer.result
                         }
                     }
                }
             },
             nextQuestion:function(){
                 if ((this.index + 1) === this.quizzItem.questions.length){
                     this.showResults = true
                 } else{
                     this.currentAnswer = null
                     this.isDisabled = true
                     this.index +=1
                 }
             },
             countResult:function(){
                 var list = []
                 for (const item of this.result){
                     if (item.result === true)  {
                         list.push(1)
                     }
                 }
                 return list.length
             },
         },
     }
</script>
