<template>
        <div style="z-index:1040; position:absolute;">
            <!-- SEARCH MENU -->
            <nav class="navbar navbar-expand-md navbar-light nav-padding fixed-top  nav-project bg-white">
                    <div class="container d-flex flex-nowrap">
                        <a class="navbar-brand d-none d-sm-block" v-bind:href="btnBackUrl">
                            <img class="header-logo navbar-collapse collapse" v-bind:src="logoUrl">
                            <img class="navbar-toggler header-logo-mini " v-bind:src="logoMiniUrl">
                        </a>
                        <form class="my-auto d-inline w-100 ml-sm-5" v-on:submit.prevent="">
                            <input class="form-control search-input"
                            ref="search"
                            type="text"
                            placeholder="Поиск"
                            v-model="searchQuery"
                            v-on:keyup.esc="closeSearch"
                            >
                        </form>
                        <img class="search-close-btn" v-bind:src="iconsCloseUrl"  v-on:click="closeSearch">
                    </div>
                </nav>

            <!-- SEARCH OPEN  -->
            <section class="search" id="search" >
                <div class="search-bg"></div>
                <div class="container search-body content-container" >
                    <div class="row">
                        <div class="col-12" >
                            <div class="search-filters" v-show="isFound && !isSearchinit">
                                <div class="search-filters-header">
                                    {{searchresultsCountStr}}
                                </div>
                                <dropdown
                                    v-bind:data="dropdownData"
                                    v-on:set-dropdown="searchSort=$event"
                                ></dropdown>
                            </div>
                            <div  class="search-results" >
                                <div class="search-none" v-show="!isFound && !isSearchinit">
                                    <span>Ничего не нашлось</span>
                                    <span>Попробуйте ввести другой запрос</span>
                                </div>

                                <div
                                    v-show="isFound"
                                    v-for="(post, index) in searchResults"
                                    :key="`${index}-${post.id}`"
                                    >
                                        <a class="article-item--search"
                                        v-bind:href="setLink(post)"
                                        >
                                            <div class="article-item-container--search ">
                                        <div class="article-item-video"></div>
                                        <!-- <img class="article-item-image--search" v-bind:src="[[post.image]]"> -->
                                        <div class="article-item-image--search" v-bind:style="post.imagecss"></div>

                                    </div>
                                            <div class="article-item-content--search">
                                        <div class="article-item-header--search" >{{post.title}}</div>
                                        <div class="article-item-tags" >
                                            <span
                                                v-for="(tag,index) in post.tags"
                                                :key="`${index}-${tag.id}`"
                                            >
                                                #{{tag.name}}
                                            </span>
                                        </div>
                                        <div class="article-item-info">
                                            <div class="banner-info-item">{{post.published_at}}</div>
                                            <div class="banner-info-item" >
                                                  <img class="banner-info-icon" width="15px" v-bind:src="iconsHeartUrl">
                                                  <div>{{post.likes}}</div>
                                            </div>
                                            <div class="banner-info-item" >
                                                  <img class="banner-info-icon" width="20px"  v-bind:src="iconsViewUrl">
                                                  <div>{{post.views}}</div>
                                            </div>
                                            <div class="banner-info-item" >
                                                  <img class="banner-info-icon" width="16px" v-bind:src="iconsCommentUrl">
                                                  <div>14</div>
                                            </div>
                                        </div>
                                    </div>
                                        </a>
                                </div>

                                <div class="loader-local"ref="loaderTrigger"  v-show="!postSearchLoadedAll && searchQuery !== ''">
                                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>




</template>

<script>

    import mixin_1 from "./mixins/mixin_1"

    export default {
        mixins: [mixin_1],
        props: [
            'show',
            'btnBackUrl',
            'logoUrl',
            'logoMiniUrl',
            'iconsCloseUrl',
            'iconsHeartUrl',
            'iconsViewUrl',
            'iconsCommentUrl',
        ],
        data: function () {
            return {
                postSearchLoading: false,
                postSearchLoadedAll: false,
                isFound: false,
                isSearchinit: true,
                paginationDatasearch: {
                    start: 0,
                    quantity: 10,
                },
                searchQuery: '',
                searchSort: '',
                searchResults: [],
                searchresultsCount: '',
                url:{
                    posts: "/api/posts",
                },
                dropdownData: [
                    {
                        id: 0,
                        name: 'По релевантности',
                        isSelected: true,
                    },
                    {
                        id: 1,
                        name: 'По дате',
                        isSelected: false,
                    },
                ],
            }
        },
        created:function(){
            this.searchSort = this.dropdownData[0].id
        },
        mounted: function(){
            this.onScrollSearch();
        },
        computed: {
            searchresultsCountStr(){
                if (parseInt(this.searchresultsCount) <= 20){
                    if (parseInt(this.searchresultsCount) === 0){
                        return 'Найдено ' + this.searchresultsCount + ' материалов'
                    }
                    if (parseInt(this.searchresultsCount) === 1){
                        return 'Найден ' + this.searchresultsCount + ' материал'
                    }

                    var array = [ 2,3,4]
                    if (array.includes(this.searchresultsCount)){
                        return 'Найдено ' + this.searchresultsCount + ' материала'
                    }

                    var array = [ 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
                    if (array.includes(this.searchresultsCount)){
                        return 'Найдено ' + this.searchresultsCount + ' материалов'
                    }
                } else{
                    var num = this.searchresultsCount % 10

                    if (num === 1){
                        return 'Найден ' + this.searchresultsCount + ' материал'
                    } else if( num > 1 &&  num <5){
                        return 'Найдено ' + this.searchresultsCount + ' материала'
                    } else  {
                        return 'Найдено ' + this.searchresultsCount + ' материалов'

                    }
                }


            },
        },
        methods:{
            openSearch: function(){
               let self = this
               Vue.nextTick()
                   .then(function () {
                       self.$refs.search.focus()
                   })
            },
            closeSearch:function(){
                this.$emit('searchclose');
                this.searchQuery=""
                this.searchResults = []
                this.isFound = false
                this.isSearchinit = true
                this.paginationDatasearch.start = 0
            },
            getSearchqueries: function(query, sort){
                if (query.length  !== 0){
                    this.postSearchLoading = true
                    this.postSearchLoadedAll = false

                    this.searchResults = []
                    this.isFound = false
                    this.isSearchinit = true
                    this.paginationDatasearch.start = 0


                    axios({
                        method: 'get',
                        params: {
                                    query: query,
                                    sort: sort,
                                    start: this.paginationDatasearch.start,
                                    quantity: this.paginationDatasearch.quantity,
                                },
                        url: this.url.posts,
                    })
                    .then(response => {
                        this.searchResults = this.searchResults.concat(this.postFormater(response.data.posts))
                        this.searchresultsCount = (response.data.count)

                        this.isSearchinit = false
                        if (response.data.posts.length !== 0){
                            this.isFound = true
                        }
                        this.postSearchLoading = false
                        if (response.data.posts.length < this.paginationDatasearch.quantity){
                            this.postSearchLoadedAll = true
                        }
                    })
                } else{
                    this.isFound = false
                    this.isSearchinit = true
                    this.searchResults = []

                }
            },
            getSearchqueriesPaginator: function(query, sort){
                if (query.length  !== 0){
                    this.postSearchLoading = true
                    axios({
                        method: 'get',
                        params: {
                                    query: query,
                                    sort: sort,
                                    start: this.paginationDatasearch.start,
                                    quantity: this.paginationDatasearch.quantity,
                                },
                        url: this.url.posts,
                    })
                    .then(response => {
                        this.searchResults = this.searchResults.concat(this.postFormater(response.data.posts))
                        this.searchresultsCount = (response.data.count)
                        this.postSearchLoading = false
                        if (response.data.posts.length < this.paginationDatasearch.quantity){
                            this.postSearchLoadedAll = true

                        }
                    })
                }
            },
            onScrollSearch:function(){


                var searchEl = document.getElementById('search')
                searchEl.onscroll = () => {
                    let bottomOfWindow = this.isElementVisible(this.$refs['loaderTrigger']);
                    if (bottomOfWindow && !this.postSearchLoadedAll && this.isFound) {
                        this.postSearchLoading = true
                        this.paginationDatasearch.start = this.paginationDatasearch.start + this.paginationDatasearch.quantity
                        this.getSearchqueriesPaginator(this.searchQuery, this.searchSort)
                    }

                   // var scrollHeight = searchEl.scrollHeight
                   // var scrollTop = searchEl.scrollTop;
                   // let bottomOfWindow = scrollTop + window.innerHeight === scrollHeight;
                   // if (bottomOfWindow && !this.postSearchLoadedAll && this.isFound) {
                   //     // console.log('scroll search', this.postSearchLoadedAll)
                   //     this.postSearchLoading = true
                   //     this.paginationDatasearch.start = this.paginationDatasearch.start + this.paginationDatasearch.quantity
                   //     this.getSearchqueriesPaginator(this.searchQuery, this.searchSort)
                   //
                   // }

                }
            },
        },
        watch:{
            show:function(newValue, oldValue){
                this.openSearch()
            },
            searchQuery: _.debounce(function(newValue, oldValue){
                this.getSearchqueries(newValue, this.searchSort)
            }, 400),
            searchSort: _.debounce(function(newValue, oldValue){
                this.getSearchqueries(this.searchQuery, newValue)
            }, 400),
        },
    }


</script>
