$bogdan: #318399 !default;

$theme-colors: (
  "bogdan":$bogdan
) !default;

$container-max-widths: (
  sm: 326px,
  md: 900px,
  lg: 1320px,
  xl: 1320px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 1024px,
  lg: 1440px,
  xl: 1680px
) !default;

