<template>
    <div class="">
        <div class="article-comments">
            <h2>{{allCommentsLengthStr}}</h2>
            <div class="article-comments-sort">
                <div class="article-comments-sort-item" v-on:click="sortByRate = true; sortByTime = false;"  v-bind:class="{ active: sortByRate }">
                    Популярные
                </div>
                <div class="article-comments-sort-item" v-on:click="sortByRate = false; sortByTime = true;" v-bind:class="{ active: sortByTime }">
                    По порядку
                </div>
                <div class="article-comments-sort-itemfill"></div>
            </div>
            <div class="article-comments-input-closed" v-on:click="openInput" v-show="!showInput">
                Напишите ваш комментарий
            </div>
            <div class="article-comments-input-container">
                <textarea
                    class="article-comments-input"
                    v-show="showInput"
                    placeholder="Напишите ваш комментарий"
                    v-on:keyup="autoexpand($event)"
                    v-model="comment"
                    v-bind:disabled="isDisabled"
                    @focus="isInputFocused = true"
                    @blur="isInputFocused = false"
                    ref="commentInput"
                >
                </textarea>
                <!-- <input
                    class="article-comments-input"
                    placeholder="Напишите ваш комментарий"
                    type="text"
                    v-bind:disabled="isDisabled"
                    @focus="isInputFocused = true"
                    @blur="isInputFocused = false"
                    v-on:keyup.enter="sendComment"
                    v-model="comment"
                    /> -->
                <button
                    class="btn btn-sm btn-danger article-comments-input-bnt"
                    v-show="isBtnFocused"
                    v-on:click="sendComment"
                    v-bind:disabled="isBtnDisabled"
                >
                    Отправить
                    <!-- <i class="fas fa-level-up article-comments-input-enterkey"></i> -->
                </button>
            </div>





            <div
                class="article-comments-item"
                v-for="comment in allComments"
                :key="comment.id"

            >
                <!-- <div class="article-comments-item-highlight"></div> -->
                <div class="article-comments-item-info-wrapper">

                    <div class="article-comments-item-info">
                        <img
                            class="article-comments-item-ava "
                            width="16px"
                            v-if="comment.author_id"
                            :src="comment.author.avatar"
                            :class="{ 'article-comments-item-ava-red': comment.author.role_id === 1 || comment.author.role_id === 3}"
                            >
                        <img
                            class="article-comments-item-ava"
                            width="16px"
                            v-else
                            :src="iconsAvatarUrl"
                        >
                        <div class="article-comments-item-name ">
                            <span v-if="comment.author_id">{{comment.author.name}}</span>
                            <span v-else>Неизвестный</span>

                            <span>{{comment.created_at}}</span>
                        </div>
                    </div>
                    <div class="article-comments-item-likes">
                        <div class="article-comments-item-likes-control article-comments-item-likes-control-minus" v-on:click="send('minus', comment.id)"><span>-</span></div>
                        <div class="article-comments-item-likes-result" v-bind:class="likes(comment.likes)">{{comment.likes}}</div>
                        <div class="article-comments-item-likes-control  article-comments-item-likes-control-plus" v-on:click="send('plus', comment.id)" ><span>+</span></div>
                    </div>
                </div>
                <div class="article-comments-item-txt">
                    {{comment.body}}
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    export default {
      props: [
          'id',
          'isauth',
          'user',
          'iconsAvatarUrl',
      ],
      data: function () {
          return {
              sortByRate: false,
              sortByTime: true,
              showInput:false,
              isInputFocused: false,
              isDisabled: false,
              isBtnDisabled: false,
              isBtnFocused: false,
              comment:'',
              url: "/api/comments",
              url_likes: "/api/addcommentlike",
              allComments: null,
              waitForAuth: false,
          }
      },
      mounted: function(){
          this.getAllComments();
      },
      computed: {
          allCommentsLength:function(){
            if (this.allComments){
                return this.allComments.length
            } else{
                return 0
            }
          },
          sumSort: function(){
              if (this.sortByRate){
                  return 'rate'
              }
              if (this.sortByTime){
                  return 'time'
              }
          },
          allCommentsLengthStr(){
              if (parseInt(this.allCommentsLength) <= 20){
                  if (parseInt(this.allCommentsLength) === 0){
                      return this.allCommentsLength + ' Комментариев'
                  }
                  if (parseInt(this.allCommentsLength) === 1){
                      return this.allCommentsLength + ' Комментарий'
                  }

                  var array = [ 2,3,4]
                  if (array.includes(this.allCommentsLength)){
                      return this.allCommentsLength + ' Комментария'
                  }

                  var array = [ 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
                  if (array.includes(this.allCommentsLength)){
                      return this.allCommentsLength + ' Комментариев'
                  }
              } else{
                  var num = this.allCommentsLength % 10

                  if (num === 1){
                      return this.allCommentsLength + ' Комментарий'
                  } else if( num > 1 &&  num <5){
                      return this.allCommentsLength + ' Комментария'
                  } else  {
                      return this.allCommentsLength + ' Комментариев'

                  }
              }


          },
      },
      methods:{
          send: function(type, id){
              var canVote
              if (this.getCookie('voted')) {
                  var voted = JSON.parse(this.getCookie('voted'))
                  if (voted.includes(id)){
                      canVote = false
                  } else{
                      canVote = true
                  }
              }
              else{
                  canVote = true
                  var voted = []
              }

            if (canVote){
                axios({
                    method: 'post',
                    url: this.url_likes,
                    data: {
                        id: id,
                        type: type
                    },
                })
                .then(response => {
                    for (const el of this.allComments){
                        if (id === el.id){
                            el.likes = response.data.likes
                        }
                    }
                    voted.push(id)
                    this.setCookie('voted', JSON.stringify(voted))
                })
                .catch(response => {
                    console.log('error!');
                })
            }

          },
          likes:function(num){
              if (num === 0){
                  return {
                      zero: true,
                      minus: false,
                      plus: false,
                  }
              }
              if (num > 0){
                  return {
                      zero: false,
                      minus: false,
                      plus: true,
                  }
              }
              if (num < 0){
                  return {
                      zero: false,
                      minus: true,
                      plus: false,
                  }
              }
          },
          openInput:function(){
              this.showInput = true
              this.$nextTick(() => this.$refs.commentInput.focus())
          },
          autoexpand:function (event) {
                var field = event.target
              // Reset field height
              field.style.height = 'inherit';

              // Get the computed styles for the element
              var computed = window.getComputedStyle(field);

              // Calculate the height
              var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
                           + parseInt(computed.getPropertyValue('padding-top'), 10)
                           + field.scrollHeight + 20
                           + parseInt(computed.getPropertyValue('padding-bottom'), 10)
                           + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

              field.style.height = height + 'px';

          },
          sendComment:function(){
              if (this.isauth){
                  this.senderComment()
              } else {
                  this.waitForAuth = true
                  this.$emit('openauth')
              }
          },
          senderComment: function(){
              this.isDisabled = true
              this.isBtnDisabled = true

              axios({
                  method: 'post',
                  url: this.url,
                  data: {
                    comment:this.comment,
                    post_id:this.id,
                    author:this.user,
                  },
              })
              .then(response => {

                  this.getAllComments();
                  this.$emit('newcommentlength');

              })
              .catch(response => {
                  console.log('error!');
              })
          },
          getAllComments:function(){
                axios({
                    method: 'get',
                    url: this.url,
                    params: {
                      post_id:this.id,
                      sortby: this.sumSort,
                    },
                })
                .then(response => {
                    this.allComments = this.commentFormater(response.data.comments);
                    this.isDisabled = false
                    this.isBtnDisabled = false
                    this.showInput = false
                    this.isBtnFocused = false
                    this.$nextTick(() => this.$refs.commentInput.style.height = '140px')
                    this.comment = ''
                })
                .catch(response => {
                    console.log('error!');
                })
          },
          commentFormater: function(list){
              for (const item of list){
                  item.created_at = moment(item.created_at + ' Z').locale('ru').fromNow();
                  if (item.author_id){
                      item.author.avatar = window.location.protocol + '//' +  window.location.host + '/storage/' + item.author.avatar;
                  }
              }
              return list
          },
          getCookie: function (name) {
                let matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
          },
            setCookie: function(name, value, options = {}){

                options = {
                    path: '/',
                    // при необходимости добавьте другие значения по умолчанию
                    ...options
                };

                if (options.expires instanceof Date) {
                    options.expires = options.expires.toUTCString();
                }

                let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

                for (let optionKey in options) {
                    updatedCookie += "; " + optionKey;
                    let optionValue = options[optionKey];
                    if (optionValue !== true) {
                        updatedCookie += "=" + optionValue;
                    }
                }

                document.cookie = updatedCookie;
            },
      },
      watch:{
          isauth:function(newValue, oldValue){
              if(newValue &&  this.waitForAuth){
                  this.sendComment()
              }
          },
          isInputFocused: _.debounce(function(){
                  if(!this.isInputFocused){
                      if(this.isDisabled){
                          this.isBtnFocused =  true
                      }else{
                          this.isBtnFocused = false
                      }
                  }else{
                      this.isBtnFocused =  true
                  }
          }, 150),
          sumSort: function(){
              this.getAllComments();
          },
      },
    }
</script>
