<template>
    <div class="city-dot" v-bind:class="[dotClass,]" @click="$emit('city-filter', className)">
        <div style="position:relative;" v-if="!isMobile">
            <img class="city-dot-pointer" :src="cityDotUrl">
            <div class="city-hover-group" v-if="orientation === 'right'">
                <div class="city-dot-line city-dot-line-right"></div>
                <span class="city-dot-txt city-dot-txt-right">{{name}}</span>
            </div>
            <div class="city-hover-group" v-if="orientation === 'left'">
                <div class="city-dot-line city-dot-line-left"></div>
                <span class="city-dot-txt city-dot-txt-left">{{name}}</span>
            </div>
            <div  v-if="orientation === 0">
                <span class="city-dot-txt city-dot-txt-buttom">{{name}}</span>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        props: [
            'name',
            'orientation',
            'cityDotUrl',
            'className',
            'isMobile',

        ],
        mounted(){
        },
        data: function () {
            return {
                dotClass: this.className,
            }
        },
        computed:{

        },
    }
</script>
