<template>
    <div class="dropdown-container">
        <div class="dropdown-result" v-on:click="isVisible = !isVisible">
            <span class="mr-2">{{value}}</span>
            <div class="project-dropdown dropdownrotate"></div>
        </div>
        <div class="dropdown-options" v-show="isVisible">
            <span
                v-for="item in this.data"
                :key="item.id"
                v-on:click="setActive(item.id) & $emit('set-dropdown', item.id)"
                v-bind:class="{ active: item.isSelected}"
            >
                {{item.name}}
            </span>
        </div>


    </div>
</template>

<script>
    export default {
         props: ['data'],
         data: function () {
             return {
                 isVisible: false,
             }
         },
         computed: {
             value:function(){
                 for (const item of this.data){
                     if (item.isSelected)  {
                         return item.name
                     }
                 }
             },
         },
         methods:{
             setActive:function(id){
                 for (const item of this.data){
                     if (item.id === id)  {
                         item.isSelected = true
                         this.isVisible = false
                     } else{
                         item.isSelected = false
                     }
                 }

             },
         },
     }
</script>
