<template>
    <div>
        <slot name="content"></slot>
    </div>
</template>

<script>
    export default {
          delimiters: ["[[","]]"],
          template: '#quill-template',
          props: [],
          data: function () {
              return {
              }
          },

          mounted: function(){


              try {
                  let quill = new Quill(this.$el, {
                      theme: 'snow',
                  });
                  quill.on('text-change', (delta, oldDelta, source) => {
                      let html = quill.root.innerHTML;
                      this.$emit('quillchange', html, delta, oldDelta, source);
                  });
              }
              catch (e) {}




          },
      }
</script>
