<template>
    <div class="article-share" >
        Поделиться
        <div class="article-share-buttons">
            <button class="article-share-btn" v-on:click="share('FB')"><i class="fab fa-facebook-f"></i></button>
            <button class="article-share-btn" v-on:click="share('TG')"><i class="fab fa-telegram-plane"></i></button>
            <button class="article-share-btn" v-on:click="share('VK')"><i class="fab fa-vk"></i></button>
            <button class="article-share-btn" v-on:click="share('TW')"><i class="fab fa-twitter"></i></button>
        </div>
    </div>
</template>

<script>
    export default {
         props: ['item'],
         data: function () {
             return {
             }
         },
         methods:{
             share: function(tag){
                 if(tag === "FB"){
                     var base = 'https://www.facebook.com/sharer/sharer.php?u='
                     var url  = window.location.href
                     var fullurl = base.concat(url)
                     window.open(fullurl, '_blank');
                 }
                 if(tag === "VK"){
                     var base = 'https://vk.com/share.php?url='
                     var url  = window.location.href
                     var fullurl = base.concat(url)
                     window.open(fullurl, '_blank');
                 }
                 if(tag === "TG"){
                     var base = 'tg://msg_url?'
                     var url  = window.location.href
                     var msg  = this.item.title
                     var fullurl = base.concat('url=',url,'&text=',msg)
                     window.open(fullurl, '_blank');
                 }
                 if(tag === "TW"){
                     var base = 'http://twitter.com/share?text='
                     var snipet = this.item.title
                     var url  = window.location.href
                     var fullurl = base.concat(snipet,'&url=',url)
                     window.open(fullurl, '_blank');
                 }
             },
         },
     }
</script>
