.body{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
}

.banner-overall{
    border-radius: 15px;
}
.banner-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3366CC;
    width: 100%;
    height: 550px;

}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 70px;
    z-index: 10;

}

.banner-image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.banner-header{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:600;
    font-style:normal;
    font-size:64px;
    line-height: 70px;
    color: white;
    width: 63%;
}


@include media-breakpoint-up(sm) {
  .banner-header {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  .banner-header {
    font-size: 1.4rem;
  }
}




.banner-tag{
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 20px 0;

}

.banner-info{
    font-size: 14px;
    line-height: 17px;
    color: white;

}

.banner-link{
    font-size: 18px;
    line-height: 22px;
    color: white;
    position: absolute;
    bottom: 40px;

}
