@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

$project-gray: #4D4D4D;
$project-gray-secondary: #ABB4B9;
$project-gray-third: #D4DDE2;
$project-gray-forth: #F4F6F8;
$project-red: #DD1B53;
$project-border-radius: 12px;

$container-max-widths: (
  xs: 600px,
  sm: 1024px,
  md: 900px,
  lg: 1368px,
  xl: 1368px
);

.container{
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 1px !important;
}



strong{
    font-weight: 600 !important;
}

.modalopen{
    overflow: hidden !important;
}




.content-article h2 {
    font-size: 1.3em !important;
    font-family: 'Proxima Nova Lt' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}






.#{postedit} {

    &-modal-close-btn{
        position: fixed;
        right: 16px;
        top: 16px;
        padding: 10px;
        cursor: pointer;
        background-color: $project-gray-forth;
        border-radius: 50px;
        z-index: 100;

    }

    &-modal-close-btn:hover{
        background-color: darken($project-gray-forth, 5%);
    }

    &-modal-container {
        // position: absolute  !important;
        // top:0px;
        // left: 0px;
        // width: 100%;
        // height: 100%;
        // position: fixed;
        z-index:1200;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 100px 0;


    }

    &-container {
        position: relative;
        // width: 100%;
        min-height: 56px;
    }

    &-container:hover {
    }

    &-container:hover &-control-buttons{
        opacity: 1;
    }
    &-container:hover &-control{
        opacity: 1;
    }

    &-control {
        opacity: 0;
        transition: opacity 0.1s linear;
        z-index:0;
        position: absolute;
        width: 100%;
        height: 100%;
        // left:-2%;
        // top:-2%;
        // box-shadow: 0 0 10px rgba(0,0,10,0.1);
        border-top: 1px solid  $project-gray-third;
        border-bottom: 1px solid  $project-gray-third;
        &-buttons {
            position: absolute;
            bottom: 0px;
            right:0px;
            opacity: 0;
            z-index:10;
            text-align: center;
            padding:5px 15px;
            background-color: rgba(0,0,0,0.8);

        }
    }

    &-control >  hr{
        margin-bottom: 0;
    }

    &-edit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $project-gray;
        min-height: 56px;
        z-index:9;
        margin-bottom: 5vw;
        &-type {
            margin-bottom: 20px;
        }
        &-imagedescription {
            margin-bottom: 20px;
        }

    }

    &-content {
        font-family: 'Proxima Nova Rg', sans-serif !important;
        font-weight:normal;
        font-style:normal;
        font-size: 20px;
        color:$project-gray;
        font-size: 16px;
        z-index:8;
        margin-bottom: 5vw;
    }


    @media only screen and (min-width: map-get($container-max-widths,xs)) {
        &-content{
            font-size: 20px;
        }
    }

}

img.article{
    width: 100%;
    object-fit: cover;
    border-radius: $project-border-radius;
    min-height: 170px;
    height: 40vw;

}

// img.article{
//     width: 100%;
//     object-fit: cover;
//     border-radius: $project-border-radius;
//     margin: 50px 0;
// }
//
// @include media-breakpoint-up(xs) {
//   img.article{
//     min-height: 170px;
//     height: 40vw;
//   }
// }
//
// @include media-breakpoint-up(sm) {
//   img.article{
//     height: 380px;
//   }
// }


// @media only screen and (min-width: map-get($container-max-widths,xs)) {
//     img.article{
//       height: 40vw;
//     }
// }


.#{article} {

    &-video{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    &-video iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    &-txt-image{
        width: 100%;
        object-fit: contain;
        // margin-bottom: 5vw;
        min-height: 170px;
        // height: 40vw;
    }
    &-txt-image-caption{
        font-size: 0.8em;
        display: block;
    }

    &-txt-mark-1 {
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-style: italic;
        padding-left: 3vw;
        margin: -3.2vw 0;
    }

    &-txt-mark-2 {
        font-size: 18px;
        padding: 14px 30px;
        background-color:$project-gray-forth;
        margin: -3.2vw 0;
    }

    &-txt-mark-2:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 3px;
        left: 0px;
        top: 0px;
        background-color: $project-red;
    }

    &-comments {
        width:  100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;

        &-input-container{
            width:100%;
            position: relative;
        }

        &-input-closed{
            width:100%;
            color: $project-gray;
            background: transparent;
            border: 1px solid  $project-gray-secondary;
            color: $project-gray-secondary;
            padding: 14px 20px 14px 55px;
            margin: 12px 0;
            box-sizing: border-box;
            background: url('/icons/comment_icon_2.svg') no-repeat scroll 20px 18px;
        }

        &-input{

            width:100%;
            color: $project-gray;
            background: transparent;
            border: 1px solid  $project-gray-secondary;
            color: $project-gray;
            padding: 14px 20px 14px 55px;
            margin: 12px 0;
            box-sizing: border-box;
            background: url('/icons/comment_icon_2.svg') no-repeat scroll 20px 18px;
            min-height: 140px;
            resize: none;

            &-enterkey{
                transform: rotate(90deg);
                padding: 0 10px;
            }

        }

        &-input:focus{
            border: 1px solid  $project-gray;
            outline: none;
        }
        &-input::placeholder{
            color: $project-gray-secondary;
        }

        &-input:disabled {
            background-color: $project-gray-forth;
        }
        
        &-input-bnt{
            position: absolute;
            bottom: 33px;
            align-self: flex-end;
            border: none;
            // margin-top: 68px;
            // margin-right: 15px;
            right:14px;


        }
        &-input-bnt:focus{
            outline: none !important;
        }
        &-input-bnt:disabled{
            background-color: $project-gray-secondary;
        }

        &-item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 40px;

            &-txt{
                width:100%;
                margin-top: 10px;
            }

            &-info{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            &-ava{
                width:32px;
            }
            &-name{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 12px;
            }
            &-name > span:nth-child(1){
                font-size: 16px;
                color:$project-gray;
                font-family: 'Proxima Nova Lt' !important;
                font-weight: 600 !important;
                font-style: normal !important;
                margin-bottom: -4px;
            }
            &-name > span:nth-child(2){
                font-size: 14px;
                color:$project-gray-secondary;

            }

        }

    }

    &-comments > h2{
        font-size: 1.3em !important;
        font-family: 'Proxima Nova Lt' !important;
        font-weight: 600 !important;
        font-style: normal !important;
        margin-bottom: 20px;
    }



}
